@model MVCproyect.Models.User;

@{
    User currentUser = ViewBag.currentUser;
    var UserRoles = ViewData["UserRoles"] as List<MVCproyect.Models.Role>;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>
</head>
<body>

    <div class="container mt-5">

        <header class="text-center mb-4">
            <h1 class="display-4">Edit User</h1>
        </header>

        <form asp-action="UpdateUser" method="post" class="p-4 border rounded bg-light shadow-sm">

            <div class="mb-3">
                <label asp-for="UserName" class="form-label">User Name</label>
                <input type="text" asp-for="UserName" class="form-control" value="@currentUser.UserName"/>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="PasswordHash" class="form-label">Password</label>
                <input type="password" id="txtPassword" asp-for="PasswordHash" class="form-control" value="" />
                <span asp-validation-for="PasswordHash" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="PasswordHash" class="form-label">Confirm Password</label>
                <input type="password" id="txtConfirmPassword" asp-for="PasswordHash" class="form-control" value="" />
                <span asp-validation-for="PasswordHash" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="RoleId" class="form-label">User Role</label>
                <select asp-for="RoleId" id="roleContent" class="form-select" aria-label="Select Role">
                    <option value="" disabled selected>Choose the user role...</option>
                    @foreach (Role role in UserRoles)
                    {
                        <option value="@role.RoleId">@role.RoleName</option>
                    }
                </select>
                <span asp-validation-for="RoleId" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <input type="number" value="@currentUser.UserId" asp-for="UserId" class="form-control" readonly hidden />
            </div>

            <div class="mb-3">
                <button type="submit" id="btnUpdate" class="btn btn-primary btn-lg">Update</button>
            </div>
        </form>

        <div class="mt-3">
            <a href="@Url.Action("Index")" class="btn btn-secondary">Back to List</a>
        </div>

    </div>

    <script>
        $(document).on('click', '#btnUpdate', function (event) {
            if ($('#txtPassword').val() != $('#txtConfirmPassword').val()) {
                event.preventDefault();
                alert('Passwords do not match');
            }
        });
    </script>

</body>
</html>
