@model MVCproyect.Models.Sale;

@{
    var products = ViewData["products"] as List<MVCproyect.Models.Product>;
    var paymentMethods = ViewData["paymentMethods"] as List<MVCproyect.Models.PaymentMethod>;
}

<!DOCTYPE html>
<html>
<head>
    <title>Sales History</title>
</head>
<body>

    <div class="container mt-5">


        <header class="text-center mb-4">
            <h1>Insert Sale</h1>
        </header>

        <form asp-action="Create" method="post" class="p-3">

            <div class="form-group">
                <label asp-for="ClientName" class="control-label"></label>
                <input type="text" asp-for="ClientName" class="form-control" />
                <span asp-validation-for="ClientName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SaleContent" class="control-label"></label>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    @foreach (Product product in products)
                    {
                        <option value="@product.Id">@product.Name</option>
                    }

                </select>
                <span asp-validation-for="SaleContent" class="text-danger"></span>
            </div>

            <!--This information will bw automatically filled-->
            <div class="form-group">
                <label asp-for="TotalSale" class="control-label"></label>
            </div>


            <div class="form-group">
                <label asp-for="PaymentMethod" class="control-label"></label>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                   
                    @foreach(PaymentMethod paymentMethod in paymentMethods)
                    {
                        <option value="@paymentMethod.Id">@paymentMethod.Name</option>
                    }

                </select>
                <span asp-validation-for="PaymentMethod" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>

        <a href="@Url.Action("Index")">Back to List</a>

    </div>
</body>
</html>
